.tooling/travelontip-apia10a0a76-c227-4da0-bcf6-c33c5af0dd59/travelontip-externalsystem-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-apiFlow" doc:id="87616583-4adf-44c5-8789-f32321f1d803" >
		<http:listener doc:name="Listener" doc:id="8d35b38d-0a0d-4747-8c35-176683dfe109" config-ref="HTTP_Listener_config" path="${http.listener.path}"/>
		<ee:transform doc:name="Transform Message" doc:id="7fa758cb-306e-4537-80ab-980d4e1c5fc3">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="servicetype"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionID" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="54132c9c-2f43-4cd8-ace6-f63aef2b3574" message="request recived for travelontip external system for transcation id #[vars.transactionID]"/>
		<choice doc:name="Choice" doc:id="0266544b-5791-4065-9f50-51ee8466f0e4" >
			<when expression='#[vars.servicetype == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="e0d75e84-11e6-4b07-9e4e-32ae473e8f02" message="call for get routes request recived for travelontip external system for transcation id #[vars.transactionID]"/>
				<flow-ref doc:name="Flow Reference" doc:id="fe92d591-26e6-4b3d-bb3e-b968d351dbfd" name="travelontip-getroutesFlow"/>
			</when>
			<when expression='#[vars.servicetype == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="306741b4-b88b-4098-8725-8303d95b55b4" message=" schedules call request recived for travelontip external system for transcation id #[vars.transactionID]"/>
				<flow-ref doc:name="Flow Reference" doc:id="ef6af6c8-5311-4dd9-ad39-9cb4a1d4800d" name="travelontip-getschedulesFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6e8aa68b-060d-4340-b549-a0d0774cc62c" message="URI params is not correct for travelontip external system for transcation id #[vars.transactionID]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="4c20df7f-416d-4ac0-a480-33296a05fc71" message="respond recived for travelontip external system for transcation id #[vars.transactionID]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4c19e707-4d69-4bef-a2fe-3f3f551a051f" >
				<logger level="INFO" doc:name="Logger" doc:id="59b58dfc-80be-4ace-bd03-59998361ff96" message="error occourd request recived for travelontip external system"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
